.dpItem {
  .dpItemDel {
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50% !important;
    margin: 6px 0 0 8px;
  }
}

.dpItemAdd {
  margin-top: 8px;
  display: flex;
  align-items: center;
  button {
    padding: 0;
  }

  i {
    font-size: 16px;
  }
}
