
@width: 400px;
.login {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #f0f2f5;
  flex-direction: column;
  align-items: center;
  .title {
    margin-top: 15vh;
    width: @width;
    text-align: center;
    padding: 20px;
    font-size: 33px;
    color: rgba(0,0,0,.85);
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 600;
  }
  .loginForm {
    padding: 30px;
    padding-bottom: 10px;
    background: #fff;
    height: fit-content;
    width: @width;
  }
  .forgot {
    float: right;
  }
  .submit {
    width: 100%;
  }
  .footer {
    color: rgba(0,0,0,.45);
    font-size: 14px;
    position: fixed;
    bottom: 20px;
  }
}
@media (max-width: 768px) {
  .login {
    background: #fff;
    .loginForm {
      padding: 30px 40px;
    }
  }
}
