@import "../../theme";
@header-height: 50px;
.layoutTabs {
  height: 100%;

  .title {
    user-select: none;
    display: inline-block;
  }

  .breadcrumbs {
    margin: 20px 20px 0 20px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .content {
    margin: 20px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08);
    width: 100%;
    max-width: 1400px;
    overflow: auto;

    > div:first-child {
      padding: 10px;
    }
  }

  :global {
    .ant-tabs {
      height: 100%;
    }

    .ant-tabs-nav-container {
      height: fit-content !important;
    }

    .ant-tabs-extra-content {
      height: @header-height !important;
      line-height: @header-height !important;
    }

    .ant-tabs-card > .ant-tabs-bar {
      height: @header-height;
      line-height: @header-height;
      border-bottom: 1px solid transparent;
      background: @navbar-header-bgcolor;
      box-shadow: 0px 4px 10px 0px rgba(159, 170, 195, 0.6);
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 0;
    }

    .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
      background: transparent;
      border: 0;
      //border-bottom: 2px solid #4962a2;
      height: @header-height;
      line-height: @header-height;
      border-radius: 0;

      &:hover {
        color: #fff;
        background: rgba(240, 242, 245, 0.15);

        .ant-tabs-close-x {
          color: rgba(255, 255, 255, 0.45);

          &:hover {
            color: rgba(255, 255, 255, 0.85);
          }
        }
      }

      .ant-tabs-close-x {
        color: rgba(255, 255, 255, 0);
      }
    }

    .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
      background: #f0f2f5;
      height: @header-height;
      line-height: @header-height;

      &:hover {
        color: #1890ff;
        background: #f0f2f5;
      }

      .ant-tabs-close-x {
        color: rgba(0, 0, 0, 0.45);

        &:hover {
          color: rgba(0, 0, 0, 0.85);
        }
      }
    }

    .ant-tabs-tab-prev, .ant-tabs-tab-next {
      color: rgba(255, 255, 255, 0.45);

      &:hover {
        color: rgba(255, 255, 255, 0.85);
      }
    }

    .ant-tabs-content {
      height: calc(100% - 50px);
      overflow: auto;
      overflow-x: hidden;
    }
  }
}

:global {
  .kuu-layout-tabs-empty {
    .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
      opacity: 0;
      cursor: auto;
    }
  }
}
