
html, body, #root {
  height: 100%;
}

body {
  width: 100% !important;
  margin: 0;
}

.fano-table {
  height: 100%;
}

.kuu-tab-page {
  box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08);
  margin: 0px auto;
  width: 874px;
}

.kuu-container {
  margin: 30px;
  max-width: 1400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(30, 55, 90, .1);
  border: 1px solid rgba(30, 55, 90, .05);
  background-color: #fff;
  color: #1e375a;
  padding: 15px;
}

@media (min-width: 1700px) {
  .kuu-container {
    margin: 30px auto;
  }
}

.ant-dropdown-menu-item {
  > i {
    margin-right: 8px;
  }
}