@import "../theme";

@header-height: 50px;
.layout {
  height: 100vh;

  .loadingMask {
    height: 100vh;
    padding: 0 15px;
    background: #fff;
  }

  .header {
    height: @header-height;
    line-height: @header-height;
    width: 100%;
    padding: 0px;
    color: #fff !important;
    background: @sider-header-bgcolor;

    .appName {
      color: #fff !important;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      user-select: none;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      font-weight: 600;
      box-sizing: border-box;
      font-size: 24px;
    }
  }

  .sider {
    overflow: hidden;
    left: 0;
    box-shadow: 2px 0px 10px 0px rgba(159, 170, 195, 0.4);
    background: #f9f9f9;
    display: flex;
    height: 100vh;

    :global(.ant-layout-sider-children) {
      width: 100%;
    }
  }

  .menu {
    border-right: 1px solid transparent;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - @header-height);
  }

  .trigger:hover {
    color: #1890ff;
  }

  .menuTitle {
    user-select: none;
  }

  .menuTitle > i {
    padding-left: 10px;
  }
}

:global {

  .ant-layout {
    background: #f9f9f9;
  }

  @trigger-size: 20px;

  .kuu-sider-trigger {
    font-size: @trigger-size;
    cursor: pointer;
    transition: color .3s;
    z-index: 1;
    position: absolute;
    left: 15px;
    top: @header-height/2 - (@trigger-size/2 + 1px);
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}