.user {
  font-size: 12px;
  .rolesAssign {
    cursor: pointer;
  }
}

@roleAssignModal-width: 600px;
.roleAssignModal {
  width: @roleAssignModal-width;
  min-width: @roleAssignModal-width;
  :global(.ant-transfer-list) {
    width: 253px;
  }
}
